#header {
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: #484848;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

#headerLeft {
  margin-left: 10px;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  vertical-align: middle;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#logoText {
  display: flex;
  align-items: center;
  color: #fecb32;
  font-family: Yrsa;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.external-link > svg {
  fill: #484848;
}

.externalLink {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

#headerRight {
  margin-right: 100px;
  width: 270px;
  position: fixed;
  top: 0;
  right: 0;
  vertical-align: middle;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.internalLink {
  color: #ffffff;
  font-family: Karla;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.internalLink:hover {
  text-decoration: underline;
}

.internalLink:active {
  text-decoration: underline;
}

html,
body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.content {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

#indexContent {
  height: 1100px;
  background: linear-gradient(
    180deg,
    #007ed9 0%,
    #005c9e 32.47%,
    #002947 53.82%,
    #002947 100%
  );
}

#projectsContent {
  height: 95%;
  background: linear-gradient(180deg, #007ED9 0%, #005C9E 35.59%, #002947 99.99%, #002947 100%);
}

#projectPageContent {
  height: 1500px;
  background: linear-gradient(
    180deg,
    #007ed9 0%,
    #005c9e 32.47%,
    #002947 53.82%,
    #002947 100%
  );
}

#resumeContent {
  height: 1600px;
  background: linear-gradient(
    180deg,
    #007ed9 0%,
    #005c9e 32.47%,
    #002947 53.82%,
    #002947 100%
  );
}

#decorativeText {
  width: 60%;
  height: 220px;
  margin: 40px;
  display: flex;
  mix-blend-mode: multiply;
  align-items: center;
  border: solid black 15px;
  box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
  --notchSize: 15px;
  clip-path: polygon(
    0% var(--notchSize),
    var(--notchSize) 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% calc(100% - var(--notchSize)),
    calc(100% - var(--notchSize)) 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}

#funkyText {
  margin: 10px;
  right: 10px;
  color: #000000;
  text-align: right;
  font-family: Akshar;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#funkyLines {
  background: url("assets/funkylines.png"), lightgray 0% 0% / 150px 150px repeat;
  background-size: 500px;
  width: 60%;
  height: 220px;
  position: absolute;
  z-index: -1;
}

#decorativeDescription {
  text-align: right;
  position: absolute;
  right: 10px;
  margin-right: 30px;
  color: #fff;
  text-align: right;
  font-family: Akshar;
  font-size: 40px;
  line-height: 0.2em;
  font-style: normal;
  font-weight: 500;
}

#whoAmI {
  position: absolute;
  top: 500px;
}

.subheader {
  color: #fff;
  text-align: left;
  font-family: Akshar;
  margin: 15px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subbodyText {
  color: #fff;
  font-family: Akshar;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}

.selfie {
  object-fit: cover;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  position: absolute;
  right: 5%;
  top: 25%;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
  z-index: 1000;
  gap: 30px;
}

#projectsList {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.project {
  width: 200px;
  height: 270px;
  background-color: #d9d9d9;
  z-index: 10;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0);
}

.projectTitle {
  margin-top: 25px;
  width: 200px;
  color: black;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.projectDescription {
  width: 190px;
  margin-left: 10px;
  color: black;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.detailsButton {
  margin-top: -10px;
  margin-left: 10px;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid var(--Fancy-Text, #000);
}

.detailsButton:hover{
    background-color:#b5b5b5;
}

.detailsLink {
  text-decoration: none;
  color: black;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projectsLinksList {
  position: absolute;
  top: 290px;
  height: 20px;
  margin-left: 10px;
}

.projectsLink {
  color: black;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display:flex;
  align-items: center;
}

#projectBackButton {
  margin-top: 20px;
  margin-left: 5px;
  color: var(--Fancy-Text, #000);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#projectHeader {
  margin-top: -20px;
  margin-left: 25px;
  width: 80%;
}

.projectHeaderTitle {
  color: #fff;
  font-family: Fira Code;
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projectHeaderDescription {
  color: #fff;
  font-family: Akshar;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -50px;
}

.projectHeaderLinks {
  margin-top: -180px;
}

.pageSubheader {
  margin-left: 20px;
  color: #fff;
  font-family: Akshar;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pageText {
  margin-top: -30px;
  margin-bottom: 20px;
  color: #fff;
  font-family: Akshar;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  width: 65%;
}

.projectPageImage {
  width: 270px;
  position: absolute;
  top: 360px;
  right: 40px;
}

#resumePopup {
  width: 100%;
  position: absolute;
  bottom: -50px;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

#hidePopup {
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 20;
  display: none;
}

#hidePopupLabel {
  position: absolute;
  right: 13px;
  top: 5px;
  font-size: 25px;
  z-index: 21;
  cursor: pointer;
}

#hidePopup:checked + #resumePopup {
  display: none;
}

#hidePopup:checked + #hidePopupLabel {
  display: none;
}

#popupText {
  color: black;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
}

#downloadResume {
  border-radius: 6px;
  border: 2px solid black;
  background: #3e3e3e;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Fira Code;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.resumePageImage {
  width: 270px;
  position: absolute;
  top: 120px;
  right: 60px;
}

.resumeTable{

    border:3px solid #B9B9B9;
    border-collapse: collapse;
    margin-left: 20px;
    width:800px;
}

.resumeTableCell{
    border:2px solid #B9B9B9;
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */    
}

.resumeTableHeader{
    border:2px solid #B9B9B9;
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
min-width: 80px;
}

#programmingMarquee{
    overflow:hidden;
}

#programmingLanguages{
    height:100px;
}